body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

img { max-width: 100%; }

.photo-container {
  width: 90%;
  margin: auto;
  /*border: solid 1px rgba(189, 63, 191, 0.62);*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-frame {
  /* equivalent to 49.5% of total browser width,
  to make calculating srcset easier for us :) */
  width: 55%;
}

/***************** NAV *****************/
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex-basis: 20%;
  align-items: flex-start;
  align-content: flex-start;
}

/**************** HERO *****************/

header img {
  max-height: 6rem;
}

h1 .logo-w {
  font-size: 3.5rem;
}

/**************** ITEM CONTAINER ****************/

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
    flex-shrink: 1;
    flex-basis: 20%;
    align-items: flex-start;
    align-content: flex-start;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}
